:root {
  /* Font */

  /* Text colors*/
  --title-txt-cl: #2e2f42;
  --p-txt-cl: #434455;
  --footer-p-txt-cl: #e7e9fc;
  --light-logo-footer-cl: #f4f4fd;
  --iris-logo-cl: #4d5ae5;

  /* Background colors*/
  --main-page-bg-cl: #2e2f42;
  --cloud-bg-cl: #f4f4fd;
  --white-bg-cl: #ffffff;

  /*  Others*/
  --prt-active-button: #404bbf;
  --ptr-main-button: #f4f4fd;
  --prt-button-txt-cl: #4d5ae5;
  --success-cl: #31d0aa;
  --success-75-cl: rgba(49, 208, 170, 0.75);
  --success-50-cl: rgba(49, 208, 170, 0.5);
  --success-10-cl: rgba(49, 208, 170, 0.1);
  --modal-ovarlay-cl: #2e2f42;

  --indent: 24px;
  --items: 3;

  --transit-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);

   /*breakpoints*/
   --phone-screen: 480px;
   --tablet-screen: 768px;
   --desktop-screen:1200px;

}

* {
  box-sizing: border-box;
}

body {
  color: var(--p-txt-cl);
  background-color: var(--white-bg-cl);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* 
@media screen and (min-width:768px) {
    .section{
        padding-top: 96px;
  padding-bottom: 96px;
    }
} */
@media screen and (min-width:1200px){
    .section{
padding-bottom: 120px;
  padding-top: 120px;
    }
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 15px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; */
  /* outline: 2px solid red;
    outline-offset: -2px;  */
}
 @media screen and (min-width:768px){
.container{
    max-width: 768px;
}
 }

 @media screen and (min-width:1200px){
.container{
    max-width: 1158px;
}
 }
.header-container {
  display: flex;
  align-items: center;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-dark {
  color: var(--iris-logo-cl);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 76px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-dark {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-dark {
    line-height: calc(24 / 18);
  }
}
.logo-dark span {
  color: var(--main-page-bg-cl);
}
.link {
  text-decoration: none;
}
.header-list {
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list {
    gap: 40px;
  }
}
.header-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--prt-active-button);
  border-radius: 2px;
}
.nav-link.current {
  color: var(--prt-active-button);
}

.nav-link {
  position: relative;
  color: var(--title-txt-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transit-duration);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--iris-logo-cl);
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .contacts {
    display: none;
  }
}

.contact-list {
  display: flex;
  align-items: center;
  /* gap: 40px; */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    flex-direction: column;
    gap: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
.contact-link {
  color: var(--title-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  display: block;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  transition: color var(--transit-duration);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
}
.contact-link:focus,
.contact-link:hover {
  color: var(--iris-logo-cl);
}




.main-button:hover {
  background-color: var(--prt-active-button);
  
}
.main-button {
  color: var(--white-bg-cl);
  background-color: var(--prt-button-txt-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  transition:  background-color var(--transit-duration);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-title {
  color: var(--white-bg-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .main-title {
        width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin: auto;
    text-transform: none;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    margin-bottom: 48px;
  }
}
.main-page-bg {
  /* max-width: 428px; */
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main-page-bg-cl);
  text-align: center;
  padding: 112px 0px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/imgs-bg/phone1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-page-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/imgs-bg/phone2.jpg);
  }
}

@media screen and (min-width: 481px) {
  .main-page-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/imgs-bg/tablet1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-bg {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/imgs-bg/tablet2.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .main-page-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/imgs-bg/desktop1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-bg {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/imgs-bg/desktop2.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .main-page-bg {
    /* max-width: 768px; */
    padding-bottom: 108px;
  }
}

@media screen and (min-width: 1200px) {
  .main-page-bg {
    max-width: 1440px;
    padding: 188px 0;
  }
}

/* "2 секція" */
.b-icon {
  height: 64px;
  width: 64px;
}
.section-benefits {
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section-benefits {
    padding-bottom: 0;
  }
}

.bg-benefits-icon{
    display: none;
}
@media screen and (min-width:1200px) {
   .bg-benefits-icon {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
  background-color: var(--cloud-bg-cl);
   text-align: center;
  } 
}



@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    gap: 24px;
  }
}


@media screen and (max-width: 767px) {
    
  .benefits-item{
    flex-basis: calc((100% - 24px) / 2);
  }
  .benefits-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
    
  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.section-title {
  color: var(--title-txt-cl);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
 
}

.section-subtitle {
  color: var(--title-txt-cl);
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  /* margin-top: 32px; */
  text-align: center;
  text-transform: capitalize;
}
@media screen and (min-width:1200px){
    .section-subtitle{
font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;
  /* margin-top: 32px; */
  text-align: start;
    }
}
@media screen and (min-width:768px){
    .section-subtitle{
        text-align: start;
    }}
.section-text {
  color: var(--p-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  /* margin-top: 8px;
  margin-bottom: 8px; */
}
@media screen and (min-width:1200px){
    .section-text{
    font-weight: normal;}
}

/* "3 секція" */

.section-works {
    display: none;
}
@media screen and (min-width: 1200px) {
  .section-works {
    display: block;
  }
}

.works-list {
  display: flex;
  gap: 24px;
  /* justify-content: center; */
}



/* "4 секція" */
.section-team {
  background-color: var(--cloud-bg-cl);
   padding-bottom: 128px;
}
@media screen and (min-width: 768px) {
  .section-team {
    padding-bottom: 104px;}
}

@media screen and (min-width: 1200px) {
  .section-team{
    padding-bottom: 120px;
  }
}

.team-list {
  padding: 0;
  margin: 0;
}


@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;
    justify-content: center;
    /* margin-left: calc(-1 * var(--indent));
    margin-top: calc(-1 * var(--indent)); */
    }
}
  @media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
    /* margin-left: calc(-1 * var(--indent));
    margin-top: calc(-1 * var(--indent)); */
  }
}
   

.team-bg {
  /* padding-bottom: 32px; */
  background-color: var(--white-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  
}
@media screen and (max-width: 767px) {
  .team-bg {
    max-width: 264px;
    margin: 0 auto;
  }
  .team-bg:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .team-bg {
    /* flex-basis: calc(100% / - 24px);
    margin-top: 24px;
    margin-left: 24px; */
  }
}

@media screen and (min-width: 1200px) {
  .team-bg {
    flex-basis: calc(100% / 4 - 24px);
    margin-top:24px;
    margin-left: 24px;
    /* justify-content: center; */
  }
}

.team-img{
  text-align: center; 
  padding-bottom: 32px;
}

.team-subtitle {
   /* text-align: center; */
  margin-top: 32px; 

  margin-bottom: 8px;
    color: var(--modal-ovarlay-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  
}
.team-text {
  /* text-align: center; */
  margin-bottom: 8px;
}
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris-logo-cl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color var(--transit-duration);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--prt-active-button);
}
.social-icon {
  fill: var(--white-bg-cl);
  height: 16px;
}

/* "5 секція" */

.customers {
  display: flex;
  /* gap: 24px; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
}
@media screen and (max-width: 1199px) {
  .customers{
    row-gap: 72px;
  }
}

@media screen and (max-width: 767px) {
  .customers{
    column-gap: 16px;
  }
}

.customers-item {
  width: calc((100% - 16px) / 2);
}

@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 232px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

.customers-link {
  fill: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-bg-cl);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 88px;
  transition: border var(--transit-duration), fill var(--transit-duration);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--prt-active-button);
  fill: var(--prt-active-button);
}
/* .customers-section > h2 {
  margin-bottom: 72px;
} */


.portf {
  padding-top: 96px;
}
.portf-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
  transition: color var(--transit-duration),
    background-color var(--transit-duration), cursor var(--transit-duration),
    border var(--transit-duration), box-shadow var(--transit-duration);
}

.portf-button .button:hover,
.portf-button .button:focus {
  color: var(--ptr-main-button);
  background-color: var(--prt-active-button);
  border: 1px solid var(--prt-active-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portf-button button {
  color: var(--prt-active-button);
  background-color: var(--cloud-bg-cl);
  letter-spacing: 0.04em;
  font-weight: 500;
  border: 1px solid var(--footer-p-txt-cl);
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transit-duration), border var(--transit-duration), box-shadow var(--transit-duration), color var(--transit-duration);
}
.main-portf {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portf-link {
  display: block;
transition: box-shadow var(--transit-duration);
}

.main-portf .box-item {
  max-height: 294px;
  position: relative;
  overflow: hidden;
}
.box-item {
  display: block;
 
}
.portf-link:hover,
.portf-link:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portf-link .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;
  background-color: var(--iris-logo-cl);
  transform: translateY(150%);
  transition:transform var(--transit-duration);
   
}
.portf-item .overlay-text {
  position: absolute;
  width: 296px;
  letter-spacing: 0.02em;
  color: var(--cloud-bg-cl);
}
.portf-link:focus .overlay,
.portf-link:hover .overlay {
  transform: translateY(0%);
}
.portf-item {
  flex-basis: calc((100%- (var(--indent) * (var(--items)-1))) / var(--items));
  transition: box-shadow var(--transit-duration);
}
.portf-item:hover,
.portf-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portf-descr {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--footer-p-txt-cl);
  border-top: none;
}



/* "Футер" */

.footer {
  background-color: var(--main-page-bg-cl);
  
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 96px 0;
  }
   .footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   
  .address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    justify-items: center; */
    margin-bottom: 72px;
     /* margin-left: auto;
    margin-right: auto;  */
  }
  .social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    /* margin-left: auto;
    margin-right: auto;  */
  }
  .sub-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto;  */
  }
  .sub-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

  }
  .footer-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 16px;
    color: var(--white-bg-cl);
    font-weight: 500;
  }
  .sub-mail {
     width: 100%;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto; 
    /* height: 40px;
  margin-right: 24px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-bg-cl);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  }
  /* .send-btn{
    margin-top: 16px;
  } */
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 100px 0;
  }
  .footer-list {
    display: flex;
    /* flex-wrap: wrap; */
  }
  .address-wrapper {
    margin-right: 120px;
  }
  .social-wrapper {
    /* margin-right: 24px; */
    /* margin-right: 80px; */
  }
  .sub-form {
    display: flex;
    align-items: end;
    
  }
  .footer-label {
    display: flex;
    /* flex-direction: column; */
    gap: 16px;
    color: var(--white-bg-cl);
    font-weight: 500;
    
}
  
  .sub-mail {
    width: 264px;
  }
  .sub-wrapper{
    margin-left: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding: 96px 0;
  }
  .footer-list {
    flex-wrap: wrap;
  }
  .address-wrapper {
    margin-right: 24px;
    margin-bottom: 72px;
    margin-left: 93px;
  }
  .sub-wrapper {
    margin-left: 93px;
  }
 
  .footer-label{
    display: flex;
    gap:24px;  }
}
/* @media screen and (min-width: 1200px) {
  .footer {
    padding: 96px 0;
  }
  .footer-list {
    flex-wrap: nowrap;
  }
  .address-wrapper {
  
    margin-bottom: 72px;
   
  }
  .sub-wrapper {
    margin-left: 93px;
  }
} */

/* .address-wrapper {
  width: 264px;
  gap: 16px;
  display: block;
} */

.footer-text {
  color: var(--footer-p-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-list {
  display: flex;
}
.logo-icon {
  height: 56px;
}
.logo-light {
  color: var(--iris-logo-cl);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  padding-bottom: 16px;
  text-transform: uppercase;
}

.logo-light span {
  color: var(--light-logo-footer-cl);
}



.social-wrapper > h2 {
  color: var(--white-bg-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-link {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--transit-duration);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--success-cl);
}
.footer-icon {
  fill: var(--white-bg-cl);
  align-content: center;
}
/* .sub-wrapper{
    margin-left: 80px;
} */
.sub-wrapper>h2{
    color: var(--white-bg-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.sub-mail{
    background-color: var(--main-page-bg-cl);
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding: 8px 16px;
width: 264px;
height: 40px;
color: var(--white-bg-cl);
  
}
.send-btn{
    display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
    background-color: var(--iris-logo-cl);
    color: var(--white-bg-cl);
    border-radius: 4px;
    border: none;
   cursor: pointer;
    transition: background-color var(--transit-duration) box-shadow var(--transit-duration);
    cursor: pointer;
}
.send-btn:hover,
.send-btn:focus{
background-color: var(--prt-active-button);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transit-duration),
    visibility var(--transit-duration);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 24px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--white-bg-cl);
  /* min-width: 408px;
  min-height: 576px; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--transit-duration);
}
@media screen and (max-width: 427px) {
  .modal {
    width: 300px;
    padding: 60px 20px 20px;
  }
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-75%);
  transition-delay: 0;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--footer-p-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
 transition: var(--transit-duration);
}
.modal-btn:focus, 
.modal-btn:hover{
    background-color: var(--prt-active-button);
   fill: var(--white-bg-cl);
    border-color: var(--prt-active-button);
}
.modal-title{
    margin-top: 48px;
    margin-bottom: 16px;
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight: 500 px;
    letter-spacing: 0.02em;
}
.order-form-label{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}
.order-form-group{
    position: relative;
    margin-bottom: 8px;
   
}
.order-form-field{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: transparent;
transition: border-color var(--transit-duration);
padding:11px 16px 11px 38px;

}
@media screen and (max-width: 427px) {
  .order-form-field {
    padding: 6px 38px;
  }
}
.order-form-field:focus {
    border-color: var(--iris-logo-cl);

}
.order-form-field:focus + .order-form-icon {
    fill: var(--iris-logo-cl);
}

.order-form-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
  pointer-events: none;
  fill: var(--p-txt-cl);

}
.order-form-comment{
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: transparent;
transition: border-color var(--transit-duration);
 font-size: 12px;
 resize: none;
 margin-bottom: 16px;
}
.order-form-comment:focus{
     border-color: var(--iris-logo-cl);
}

.order-form-agreement{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 24px;

}
@media screen and (max-width: 427px) {
  .order-form-agreement{
    margin-bottom: 18px;
  }
}
.order-form-checkbox{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
border-radius: 2px;

background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23fff'/%3E%3C/svg%3E%0A");
background-repeat: no-repeat;
background-position: center;
background-size: 10px;
transition: var(--transit-duration);
}
.order-form-checkbox:checked {
    background-color: var(--iris-logo-cl);
    border-color: var(--iris-logo-cl);
}
.order-form-descr{
font-size: 12px;
user-select: none;

}
.order-form-link{
    color: var(--iris-logo-cl);
    text-underline-position: under;
}
.order-form-button{
display: block;
margin-right: auto;
margin-left: auto;
background: var(--prt-button-txt-cl);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:none ;
padding: 16px 32px;
font-weight: 500;
font-size: 16px;
color: var(--white-bg-cl);
letter-spacing: 0.04em;
width: 169px;
height: 56px;
transition: background-color var(--transit-duration);

}
@media screen and (max-width: 427px) {
  .order-form-button{
    padding: 12px 24px;
  }
}
.order-form-button:focus, 
.order-form-button:hover{
    background-color: var(--prt-active-button);
}


.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--cloud-bg-cl);
  cursor: pointer;
  transition: background-color var(--transition-duration),
    fill var(--transition-duration);
}
.menu-close-btn:focus, 
.menu-close-btn:hover{
    background-color: var(--prt-active-button);
   fill: var(--white-bg-cl);
    border-color: var(--prt-active-button);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top:24px;
  padding-left: 40px;
  background-color: var(--white-bg-cl);
  transition: transform 250ms cubic-bezier(0.4, 0, 1, 1);
  transform: translateX(100%);
}

@media screen and (max-width: 427px) {
  .menu-container {
    /* padding-top: 80px;
    padding-left: 40px;
    width: 428px;
  height: auto; */
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
    
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--modal-ovarlay-cl);
  
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-menu-link {
  position: relative;
  display: block;
  color: var(--modal-ovarlay-cl);
width: 148px;
height: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color var(--transition-duration) ;
}

.mobile-menu-link:hover {
  color: var(--prt-active-button);
}

.mobile-menu-link.current {
  color: var(--prt-active-button);
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}


.mobile-contacts-link {
  color: var(--p-txt-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) ;
}

.mobile-contacts-link:hover {
  color: var(--prt-active-button);
}

.tel {
  color: var(--prt-active-button);
  font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  line-height: 1.11;
  text-transform: capitalize;
}

@media screen and (max-width: 428px) {
  .tel {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
  }
}



.mobile-social-list {
  display: flex;
  gap: 36px;
   margin-bottom: 40px; 
}


.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--prt-button-txt-cl);
  transition: background-color var(--transition-duration);
}


.mobile-social-link:focus {
  background-color: var(--prt-active-button);
}

.mobile-social-icon {
  fill:var(--white-bg-cl);
}

