:root {
  /* Font */

  /* Text colors*/
  --title-txt-cl: #2e2f42;
  --p-txt-cl: #434455;
  --footer-p-txt-cl: #e7e9fc;
  --light-logo-footer-cl: #f4f4fd;
  --iris-logo-cl: #4d5ae5;

  /* Background colors*/
  --main-page-bg-cl: #2e2f42;
  --cloud-bg-cl: #f4f4fd;
  --white-bg-cl: #ffffff;

  /*  Others*/
  --prt-active-button: #404bbf;
  --ptr-main-button: #f4f4fd;
  --prt-button-txt-cl: #4d5ae5;
  --success-cl: #31d0aa;
  --success-75-cl: rgba(49, 208, 170, 0.75);
  --success-50-cl: rgba(49, 208, 170, 0.5);
  --success-10-cl: rgba(49, 208, 170, 0.1);
  --modal-ovarlay-cl: #2e2f42;
}

body {
  color: var(--p-txt-cl);
  background-color: var(--white-bg-cl);
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.logo-dark {
  color: var(--iris-logo-cl);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logo-dark span {
  color: var(--main-page-bg-cl);
}
.link {
  text-decoration: none;
}
.nav-link {
  color: var(--title-txt-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover {
  color: var(--iris-logo-cl);
}

.contact-link {
  color: var(--title-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contact-link:focus,
.contact-link:hover {
  color: var(--iris-logo-cl);
}
.main-button:hover {
  color: var(--white-bg-cl);
  background-color: var(--prt-active-button);
  cursor: pointer;
}
.main-button {
  color: var(--white-bg-cl);
  background-color: var(--prt-button-txt-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.list {
  list-style: none;
}

.main-title {
  color: var(--white-bg-cl);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-page-bg {
  background-color: var(--main-page-bg-cl);
}
title {
  color: var(--title-txt-cl);
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.sub-title {
  color: var(--title-txt-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--p-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portf-button .button:hover {
  color: var(--ptr-main-button);
  background-color: var(--prt-active-button);
  cursor: pointer;
}
.portf-button button {
  color: var(--prt-active-button);
  background-color: var(--cloud-bg-cl);
  letter-spacing: 0.04em;
  font-weight: 500;
}

.footer {
  background-color: var(--main-page-bg-cl);
}

.footer p {
  color: var(--footer-p-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-light {
  color: var(--iris-logo-cl);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-light span {
  color: var(--light-logo-footer-cl);
}
