:root {
  /* Font */

  /* Text colors*/
  --title-txt-cl: #2e2f42;
  --p-txt-cl: #434455;
  --footer-p-txt-cl: #e7e9fc;
  --light-logo-footer-cl: #f4f4fd;
  --iris-logo-cl: #4d5ae5;

  /* Background colors*/
  --main-page-bg-cl: #2e2f42;
  --cloud-bg-cl: #f4f4fd;
  --white-bg-cl: #ffffff;

  /*  Others*/
  --prt-active-button: #404bbf;
  --ptr-main-button: #f4f4fd;
  --prt-button-txt-cl: #4d5ae5;
  --success-cl: #31d0aa;
  --success-75-cl: rgba(49, 208, 170, 0.75);
  --success-50-cl: rgba(49, 208, 170, 0.5);
  --success-10-cl: rgba(49, 208, 170, 0.1);
  --modal-ovarlay-cl: #2e2f42;

  --indent: 24px;
  --items: 3;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--p-txt-cl);
  background-color: var(--white-bg-cl);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red;
    outline-offset: -2px;  */
}

.header-container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--footer-p-txt-cl);
}

.logo-dark {
  color: var(--iris-logo-cl);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin-right: 76px;
  display: block;
}
.logo-dark span {
  color: var(--main-page-bg-cl);
}
.link {
  text-decoration: none;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-nav {
  margin-right: auto;
}
.nav-link {
  color: var(--title-txt-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover {
  color: var(--iris-logo-cl);
}

.contact-link {
  color: var(--title-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact-link:focus,
.contact-link:hover {
  color: var(--iris-logo-cl);
}
.contact-list {
  align-items: center;
  display: flex;
  gap: 40px;
}
.main-button:hover {
  color: var(--white-bg-cl);
  background-color: var(--prt-active-button);
  cursor: pointer;
}
.main-button {
  color: var(--white-bg-cl);
  background-color: var(--prt-button-txt-cl);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-title {
  color: var(--white-bg-cl);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 504px;
}
.main-page-bg {
  background-color: var(--main-page-bg-cl);
  text-align: center;
  padding: 188px 0px;
}

.section-benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
  text-align: left;
  min-width: 1128px;
  gap: 24px;
}
.section-title {
  color: var(--title-txt-cl);
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.section-subtitle {
  color: var(--title-txt-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-text {
  color: var(--p-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.works-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-bg {
  background-color: var(--white-bg-cl);
}
.team-bg > h3 {
  text-align: center;
  margin-top: 32px;
}
.team-bg > p {
  text-align: center;
  margin-bottom: 32px;
}

.portf {
  padding-top: 96px;
}
.portf-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portf-button .button:hover {
  color: var(--ptr-main-button);
  background-color: var(--prt-active-button);
  cursor: pointer;
}
.portf-button button {
  color: var(--prt-active-button);
  background-color: var(--cloud-bg-cl);
  letter-spacing: 0.04em;
  font-weight: 500;
  border: 1px solid var(--footer-p-txt-cl);
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
}
.main-portf {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portf-item {
  margin-bottom: 48px;
  flex-basis: calc((100%- (var(--indent) * (var(--items)-1))) / var(--items));
}
.portf-descr {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--footer-p-txt-cl);
  border-top: none;
}

.section-team {
  background-color: var(--cloud-bg-cl);
}

.footer {
  background-color: var(--main-page-bg-cl);
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-footer {
  width: 264px;
  gap: 16px;
  display: block;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.footer p {
  color: var(--footer-p-txt-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-light {
  color: var(--iris-logo-cl);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  padding-bottom: 16px;
}

.logo-light span {
  color: var(--light-logo-footer-cl);
}
